body {
    background-color: #f8f9fa;
    width: 800px;
    padding: 10px;
}
.device-id {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
#reloadButton {
    display: none;
    margin-top: 20px;
}
/* Estilização para a lista de permissões usando List Group */
#allowedExtensionsList {
    list-style-type: none;
    padding-left: 0;
}
.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}
.list-group-item:hover {
    background-color: #f1f1f1;
}
.extension-name {
    flex-grow: 1;
    margin-right: 15px;
    word-break: break-all;
}
.remove-extension-btn {
    color: #dc3545;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
.remove-extension-btn:hover {
    color: #a71d2a;
}
/* Status de conexão */
.status-connected {
    color: #28a745;
    font-weight: bold;
}
.status-disconnected {
    color: #dc3545;
    font-weight: bold;
}
/* Posicionamento do status */
.status-container {
    display: flex;
    align-items: center;
}
.status-container i {
    margin-right: 5px;
}
/* Feedback de validação */
.invalid-feedback {
    display: none;
    color: #dc3545;
}
.is-invalid + .invalid-feedback {
    display: block;
}
/* Ajuste de altura consistente para os campos */
.input-group-text, .form-control {
    height: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}